# Default values for sapbtp-operator-charts.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

manager:
  memory_limit: 100Mi
  req_memory_limit: 20Mi
  image:
    repository: ghcr.io/sap/sap-btp-service-operator/controller
    tag: master
  secret:
    clientid:
    clientsecret:
    url:
    tokenurl:
cluster:
  id:
