apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    control-plane: controller-manager
    app.kubernetes.io/instance: sap-btp-operator
    app.kubernetes.io/name: sap-btp-operator
  name: sap-btp-operator-controller-manager
  namespace: {{.Release.Namespace}}
spec:
  replicas: {{.Values.manager.replica_count}}
  selector:
    matchLabels:
      control-plane: controller-manager
  template:
    metadata:
      annotations:
        {{- $configmap := (include (print $.Template.BasePath "/configmap.yml") .) -}}
        {{- $secret := (include (print $.Template.BasePath "/secret.yml") .) -}}
        {{- $secretTls := (include (print $.Template.BasePath "/secret-tls.yml") .) -}}
        {{- $configSha := (print $configmap $secret $secretTls) | sha256sum }}
        checksum/config: {{ $configSha }}
      labels:
        control-plane: controller-manager
        app.kubernetes.io/instance: sap-btp-operator
        app.kubernetes.io/name: sap-btp-operator
    spec:
      containers:
        - args:
            - --secure-listen-address=0.0.0.0:8443
            - --upstream=http://127.0.0.1:8080/
            - --logtostderr=true
            - --v=10
          
          {{- if .Values.manager.rbacProxy.image.sha }}
          image: "{{.Values.manager.rbacProxy.image.repository}}@sha256:{{.Values.manager.rbacProxy.image.sha}}"
          {{- else }}
          image: "{{.Values.manager.rbacProxy.image.repository}}:{{.Values.manager.rbacProxy.image.tag}}"
          {{- end }}
 
          {{- if .Values.manager.securityContext }}
          securityContext:
          {{ toYaml .Values.manager.securityContext | indent 2 }}
          {{- end }}
          name: kube-rbac-proxy
          resources:
            limits:
              cpu: {{.Values.kube_rbac_proxy.cpu_limit}}
              memory: {{.Values.kube_rbac_proxy.memory_limit}}
            requests:
              cpu: {{.Values.kube_rbac_proxy.cpu_req}}
              memory: {{.Values.kube_rbac_proxy.memory_req}}        
          ports:
            - containerPort: 8443
              name: https
        - args:
            - --metrics-addr=127.0.0.1:8080
            {{- if .Values.manager.enable_leader_election }}
            - --enable-leader-election
            {{- end}}
          command:
            - /manager
          envFrom:
            - configMapRef:
                name: sap-btp-operator-config
          {{- if .Values.manager.image.sha}}
          image: "{{.Values.manager.image.repository}}@sha256:{{.Values.manager.image.sha}}"
          {{- else }}
          image: "{{.Values.manager.image.repository}}:{{.Values.manager.image.tag}}"
          {{- end }}
          imagePullPolicy: IfNotPresent
          {{- if .Values.manager.securityContext }}
          securityContext:
          {{ toYaml .Values.manager.securityContext | indent 2 }}
          {{- end }}
          name: manager
          ports:
            - containerPort: 9443
              name: webhook-server
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            limits:
              cpu: {{.Values.manager.cpu_limit}}
              memory: {{.Values.manager.memory_limit}}
            requests:
              cpu: {{.Values.manager.cpu_req}}
              memory: {{.Values.manager.memory_req}}
          volumeMounts:
            - mountPath: /tmp/k8s-webhook-server/serving-certs
              name: cert
              readOnly: true
      terminationGracePeriodSeconds: 10
      volumes:
        - name: cert
          secret:
            defaultMode: 420
            secretName: webhook-server-cert
