apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    control-plane: controller-manager
  name: sap-btp-operator-controller-manager
  namespace: {{.Release.Namespace}}
spec:
  replicas: 1
  selector:
    matchLabels:
      control-plane: controller-manager
  template:
    metadata:
      annotations:
        {{- $configmap := (include (print $.Template.BasePath "/configmap.yml") .) -}}
        {{- $secret := (include (print $.Template.BasePath "/secret.yml") .) -}}
        {{- $secretTls := (include (print $.Template.BasePath "/secret-tls.yml") .) -}}
        {{- $configSha := (print $configmap $secret $secretTls) | sha256sum -}}
        checksum/config: {{ $configSha }}
      labels:
        control-plane: controller-manager
    spec:
      containers:
        - args:
            - --secure-listen-address=0.0.0.0:8443
            - --upstream=http://127.0.0.1:8080/
            - --logtostderr=true
            - --v=10
          image: quay.io/brancz/kube-rbac-proxy:v0.11.0
          name: kube-rbac-proxy
          ports:
            - containerPort: 8443
              name: https
        - args:
            - --metrics-addr=127.0.0.1:8080
            - --enable-leader-election
          command:
            - /manager
          envFrom:
            - configMapRef:
                name: sap-btp-operator-config
          image: {{.Values.manager.image.repository}}:{{.Values.manager.image.tag}}
          imagePullPolicy: IfNotPresent
          name: manager
          ports:
            - containerPort: 9443
              name: webhook-server
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            limits:
              cpu: {{.Values.manager.cpu_limit}}
              memory: {{.Values.manager.memory_limit}}
            requests:
              cpu: {{.Values.manager.req_cpu_limit}}
              memory: {{.Values.manager.req_memory_limit}}
          volumeMounts:
            - mountPath: /tmp/k8s-webhook-server/serving-certs
              name: cert
              readOnly: true
      terminationGracePeriodSeconds: 10
      volumes:
        - name: cert
          secret:
            defaultMode: 420
            secretName: webhook-server-cert
